<!DOCTYPE HTML>
<html>
  <head>
	<title>fexpl</title>
	<meta charset="utf-8" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    {{ range $fc := . }}
    <h2>{{ $fc.Name }}</h2>

    <table>
      {{ range $f := $fc.Files }}
      {{ if eq $f.MIME "dir" }}
      <tr class='dir'>
        <td>{{ $f.Name }}</td><td></td><td></td>
      </tr>
      {{ else }}
      <tr>
        <td>{{ $f.Name }}</td><td style='text-align:right'>{{ size $f.Size }}</td><td>{{ $f.MIME }}</td>
      </tr>
      {{ end }}
      {{ end }}
    </ul>
    {{ end }}
  </body>
</html>
