table {
    width:100%;
    border-collapse:collapse;
}

td {
    padding:5px;
    margin:0px;
    border-bottom:1px solid gray;
}

tr:hover {
    background-color:#e3f2fd;
}

tr.dir {
    background-color:#c8e6c9;
}
